$color-dark-primary: #120F0F;
$color-white-primary: #fff;
$color-blue-primary: #0D40B1;
$color-blue-200: #082C7B;

$border-style: 2px solid;
$color-white-15: rgba(255, 255, 255, 0.15);
$color-white-94: rgba(255, 255, 255, 0.94);

